<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('partials/header'); %>
</header>

<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>About the bot (WIP)</h1>
      <p>A personal side project which is a continuation of my original bot, CoraBot.</p>
      <%= JSON.stringify(bot.application, null, 2) %>
      <%= bot.application.description %>
      <%= bot.application.iconURL() %>
    </div>
  </div>
  <div class="col-sm-4">
    <div>
      <h3>Commands (WIP)</h3>
      <ul>
        <% bot.commands.cache.forEach(cmd => { %>
          <li>
            <%= cmd.data.name %><br>
            <%= cmd.data.description %>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>