<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('partials/header'); %>
</header>

<main>
  <div class="row">
    <div class="col-sm-8">
      <div class="jumbotron">
        <h1>Bot Dashboard <strong>(WIP)</strong></h1>
        <% if(user){ %>
          <p>
            Please note, this dashboard is still under construction. Some features may not work properly!
          </p>
          <!--
          <% bot.guilds.cache.forEach(guild => { %>
          <%   user.guilds.forEach(guild => { %>
          <%     if (!guild.owner) %>
          <%      %>
          <%   }) %>
          <% }) %>
          -->
          <% user.guilds.forEach(guild => { %>
            <% if (!guild.owner) return %>
            Name: <%= guild.name %><br>
            ID: <%= guild.id %><br>
            Owner? <%= (guild.owner) ? "Yes" : "No" %><br>
          <%}); %>
          <a href='<%= user.id %>'><%= user.username %></a>
        <%} else {%>
          <p>
            From here you can manage the servers your bot is connected to.
            <br>You can manage your guild settings, kick or ban users remotely* and more from this page.<br>
            To get started, please sign in with your Discord account to view and manage your servers!<br>
            <strong>*Certain actions will require specific permissions to be granted to your bot user.</strong>
          </p>
        <% } %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="sidebar">
        <h3>Application Information</h3>
        <p>
          <h4>Bot User</h4>        
          App Name: <%= bot.application.name %><br>
          Bot Name: <%= bot.user.username+"#"+bot.user.discriminator %><br>
          Bot ID: <%= bot.application.id ?? bot.user.id %><br>
          Created: <%= Date(bot.application.createdTimestamp) %><br>
        </p>
        <h4>Statistics</h4>
        <ul>
          <li>Users: <%= bot.users.cache.filter(u => !u.bot).size %></li>
          <li>Bots: <%= bot.users.cache.filter(u => u.bot).size %></li>
          <li>Guilds: <%= bot.guilds.cache.size %></li>
          <li>Channels: <%= bot.channels.cache.filter(c => !c.isDMBased()).size %></li>
          <li>Voice: <%= bot.channels.cache.filter(c => c.isVoiceBased()).size %></li>
          <li>Text: <%= bot.channels.cache.filter(c => c.isTextBased() && !c.isVoiceBased()).size %></li>
          <li>Threads: <%= bot.channels.cache.filter(c => c.isThread()).size %></li>
        </ul>
      </div>
    </div>
  </div>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>