<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header.ejs'); %>
</header>

<main>
  <div class="row">
    <div class="col-sm-8">
      <div class="jumbotron">
        <h1>LynxBot</h1>
        <p>A custom Discord.JS bot built on NodeJS</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="sidebar">
        <h3>Statistics</h3>
        <p>
          Managing <%= bot.users.cache.filter(u => !u.bot).size %> users.<br>
          Watching <%= bot.guilds.cache.size %> guilds.<br>
          Monitoring <%= bot.channels.cache.filter(c => !c.isDMBased()).size %> channels.<br>
          (<%= bot.channels.cache.filter(c => c.isVoiceBased()).size %> voice, <%= bot.channels.cache.filter(c => c.isTextBased() && !c.isVoiceBased()).size %> text, <%= bot.channels.cache.filter(c => c.isThread()).size %> threads)
        </p>
      </div>
    </div>
  </div>
</main>

<footer>
  <%- include('./partials/footer.ejs'); %>
</footer>

</body>
</html>